@import "./components/tema.scss";
@import "./components/header.scss";
.PersonCard{
    width: 250px;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid $color-palete-L007;
    border-radius: 5px;
}